/* SPDX-License-Identifier: BSD-3-Clause */
/* Copyright (c) 2023, João Oliveira Santos */
/* Template stylesheet change whatever you want */

/*
 * Change the values in `:root{ }` to define your website's colors
 * Notes:
 *	- BG_COLOR = background color;
 *	- TXT_COLOR = text color;
 *	- If you're unsure what a refers to try changing it to a color
 *	  that standsout and see what happens.
*/
:root {
	/* Main website background color (body element color) */
	--BODY_BG_COLOR: white;
	/* Headers' color settings */
	--HEADERS_TXT_COLOR: #1E90FF;
	--HEADERS_BG_COLOR: white;
	/* Background color of code chunks (if you use them) */
	--CODE_BG_COLOR: #E5E4E2;
	/*  Menu color settings */
	--MENU_BG_COLOR: #1E90FF;
	--MENU_TXT_COLOR: white;
	--MENU_SELECTED_BG_COLOR: white;
	--MENU_SELECTED_TXT_COLOR: black;
	--MENU_HOVER_BG_COLOR: #E5E4E2;
	--MENU_HOVER_TXT_COLOR: black;
}

body {
	font-family: monospace;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.5;
	text-align: "left";
	margin: 5% auto 5% auto;
	width: 72ch;
	max-width: 80%;
	background-color: var(--BODY_BG_COLOR);
}

h1, h2, h3, h4, h5 {
	color: var(--HEADERS_TXT_COLOR);
	font-weight: bold;
	background-color: var(--HEADERS_BG_COLOR);
}

h1 {
	font-size: 34px;
	text-align: center;
	margin: 50px 0px 50px 0px;
}

h2 {
	font-size: 30px;
}

h2 a {
	color: var(--HEADERS_COLOR);
	text-decoration-line: underline;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

a {
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

footer {
	font-size: 14px;
}

blockquote::before {
	content: open-quote;
}

blockquote::after {
	content: close-quote;
}

code {
	font-family: monospace;
	font-size: 16px;
	font-weight: normal;
	background-color: var(--CODE_BG_COLOR);
}

.site_title {
	font-size: 40px;
}

.site_subtitle {
	text-align: center;
	margin: -50px 0px 50px 0px;
}

/* Menu styling */
.menu {
	width: 120%;
	margin-left: -10%;
	position: sticky;
	text-align: center;
	top: 0;
	background-color: var(--MENU_BG_COLOR);
}

.selected {
	background-color: var(--MENU_SELECTED_BG_COLOR);
	position: center;
}

.menu ul {
	list-style: none;
}
.menu li, .selected li {
	padding: 0px 20px 0px 20px;
	display: inline-block;
}

.menu li:hover, .selected li:hover {
	background-color: var(--MENU_HOVER_BG_COLOR);
	position: center;
	/* increase padding on hover making select "pop" */
	padding: 0px 38px 0px 38px;
}

.menu a, .selected a {
	display: block;
	/* make hitbox overlap with the one from `.menu li`
	  see: https://stackoverflow.com/a/34226580 */
	padding: 0px 20px 0px 20px;
	margin: 0px -20px 0px -20px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.menu a:hover, .selected a:hover {
	color: var(--MENU_HOVER_TXT_COLOR);
}

.menu a {
	color: var(--MENU_TXT_COLOR);
}

.selected a {
	color: var(--MENU_SELECTED_TXT_COLOR);
}

/* Streamline centering images */
.center_img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.code-block {
	font-family: monospace;
	font-size: 16px;
	font-weight: normal;
	background-color: var(--CODE_BG_COLOR);
}
